*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 0 auto;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  padding: 50px;
  background: white;
  width: 700px;
  height: 200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 3);
  display: flex;
  justify-content: center;
}

.card h1{
  font-size: 20px;
  width: 85%;
  text-align: center;
  overflow-wrap: break-word;
}

.card button{
  position: fixed;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: white;
  box-shadow: 1px 1px 3px rgb(177, 176, 176);
  margin-left: 560px;
  margin-top: 80px;
}
